	<%= form_tag login_path, :method => 'POST' %>

  <div class="field">
    <%= label_tag :email, 'Email:' %>
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password, 'Password:' %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag 'Login', :class => 'btn btn-primary' %>
  </div>